<div  class=" w-full flex flex-col gap-2 relative  ">
  <div  *ngIf="editable && config?.selected" class="z-10 border rounded-3xl px-5 py-1 bg-white w-max shadow-md absolute -top-10 right-2 flex items-center gap-3"  >
    <div (click)="deleteItem()"  class="font-semibold text-gray-500 text-xs flex items-center " matTooltip="Delete Section">
      <mat-icon class="leading-6 text-lg">delete_outline</mat-icon>
    </div>
    <div [matMenuTriggerFor]="configMenu" class="font-semibold text-gray-500 text-xs flex items-center " matTooltip="Delete Section">
      <mat-icon class="leading-6 text-lg">edit</mat-icon>
    </div>
  </div>
  <mat-menu #configMenu="matMenu" yPosition="above" xPosition="before"  style="width: 640px!important;height: max-content!important;">
    <div (click)="$event.stopPropagation();"
      class=" min-h-14 max-h-24 w-scr overflow-y-auto flex items-center flex-wrap gap-3  bg-white z-10 rounded-md p-5 text-xs">
      <div class="flex gap-2 items-center">
        <div class="font-semibold">Placeholder</div>
      <input type="text" (keyup)="changePlaceholderText($event)"
        class="border-2  outline-none rounded-md w-48 min-h-6 px-2 py-1" placeholder="Edit your placeholder here...">
      </div>
      <div class="flex gap-2 items-center">
        <div class="font-semibold">Required</div>
      <mat-slide-toggle class="example-margin" [color]="'primary'" (change)="config.required = $event?.checked"
        [checked]="config?.required">
      </mat-slide-toggle>
      </div>
      <div class="flex gap-2 items-center">
        <div class="font-semibold">Allow Input</div>
      <mat-slide-toggle class="example-margin" [color]="'primary'" (change)="config.allowInput = $event?.checked"
        [checked]="config?.allowInput">
      </mat-slide-toggle>
      </div>
      <div class="flex gap-2 items-center">
        <div class="font-semibold">Min Date</div>
      <input type="date" (input)="changeMinDate($event)"
        class="border-2  outline-none rounded-md w-32 min-h-6 px-2 py-1" placeholder="Min Char">
      </div>
      <div class="flex gap-2 items-center">
        <div class="font-semibold">Max Date</div>
        <input type="date" (input)="changeMaxDate($event)"
          class="border-2  outline-none rounded-md w-32 min-h-6 px-2 py-1" placeholder="Max Char">
      </div>
  
    </div>
  </mat-menu> 
  <input   type="date" (click)="selectField($event)"  [min]="config?.minDate" [max]="config?.maxDate"
   [ngClass]="{ 'border-blue-500 ':config?.selected , ' border-zinc-300':!config?.selected,'hover:border-blue-500':editable}"
    class=" border-2  outline-none rounded-sm w-full min-h-8 px-2 py-1 text-sm cursor-pointer">
</div>