<div class="px-2 py-3 text-sm">
    <div aria-labelledby="example-radio-group-label p-6 cursor-default text-sm" class="flex flex-col w-full">
        <div class=" py-1 items-center flex gap-2 w-full" *ngFor="let opt of config?.values;let i = index" [value]="opt">
          <input type="checkbox" class="h-4 w-4  accent-blue-500" name="option" id="">
          <cite [contentEditable]="true" [innerText]="opt" #value (focusout)="OptionTextChange(opt,i,value?.innerText)" 
            class="w-3/4 p-3 rounded-md bg-slate-50 focus:border-violet-100 focus:bg-blue-50 outline-none font-medium text-sm"></cite>
          <img (click)="deleteOption(opt)" src="assets/icons/del.png" width="16px" height="16px" class=" cursor-pointer"
            alt="" srcset="">
    
        </div>
      </div>
      <div class=" py-2 px-6  w-full gap-2">
        <div (click)="addOption()" *ngFor="let extra of [1]" [value]="extra"
          class=" w-fit text-blue-800 cursor-pointer font-medium   hover:underline text-xs">Add Checkbox</div>
      </div>
</div>
