<div class=" h-screen w-full bg-gray-100 relative">
    <div class="hdr sticky top-0 c-primary z-20  w-full px-3  flex items-center justify-between  bg-gray-100">
        <div class="font-semibold text-2xl py-2 flex items-end gap-3"><img src="assets/icons/Group 2699.png"
                class="w-12 h-12" alt="" srcset=""><span class="pl-4 font-semibold c-primary opacity-90 pb-0.5">SCF</span> </div>
    </div>
    <div class="header sticky top-16 flex justify-between text-sm z-20 bg-white">
        <div class="font-semibold w-80 bg-primary-color px-6 py-4 text-white flex justify-end items-center text-base gap-2">
            <mat-icon>add_circle_outline</mat-icon>Add Attribute </div>
        <div class="font-semibold relative flex items-center px-4" #layoutModal>
            <div class="flex justify-end items-center gap-8 px-3">
                <div (click)="openDialog()" matTooltip="Preview" class="cursor-pointer flex items-center text-blue-900 opacity-85 gap-1 font-semibold"><svg width="24" fill="currentColor" stroke="1" height="24" viewBox="0 0 24 24" focusable="false" class=" NMm5M"><path d="M5 6h16V4H5c-1.1 0-2 .9-2 2v11H1v3h11v-3H5V6zm16 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"></path></svg></div>
                <button mat-icon-button class="flex items-center"><mat-icon>refresh</mat-icon></button>

                <button mat-icon-button class="flex items-center"><mat-icon>more_vert</mat-icon></button>
                <!-- <div (click)="submit()" class=" font-semibold text-sm bg-blue-800 opacity-90 px-6 py-2 rounded-md text-white">Publish</div> -->
            </div>
        </div>
    </div>
    <div class="w-full flex gap-4 h-screen-custom overflow-hidden relative">
        <div class="bg-primary-color w-28 pt-5 font-light">
            <div class="py-4">
                <div class="text-gray-50 flex flex-col items-center justify-center text-center gap-2 text-sm px-3 py-3">
                    <mat-icon class="text-3xl leading-4 pr-7">home_outline</mat-icon>
                    Home
                </div>
            </div>
            <div class="py-4">
                <div class="text-gray-50 flex flex-col items-center justify-center text-center gap-2  text-sm px-3 py-3">
                    <mat-icon class="text-3xl leading-4 pr-7">share</mat-icon>
                    Publications
                </div>
            </div>
            <div class="py-4">
                <div class="text-gray-50 flex flex-col items-center justify-center text-center gap-2  text-sm px-3 py-3">
                    <mat-icon class="text-3xl leading-4 pr-7">help_outline</mat-icon>
                    Help Library
                </div>
            </div>
        </div>
        <div class="flex-1 flex py-5 gap-4">
            <div class="  resize-x  overflow-y-auto  " [ngSwitch]="layoutView.view" style="flex:1">
                <div class="bg-white h-max min-h-full" >
                    <div class="bg-blue-50  px-3 py-3 mb-4">
                        <div class="font-bold text-base px-3 py-3 flex justify-between">CREATE FORM 
                            
                        </div>
                        <div class="px-2"><input type="text"
                                class="border-2 rounded-md bg-transparent font-semibold placeholder:text-gray-400 placeholder:font-semibold border-gray-300 w-full px-3 py-1 mt-2 opacity-90 focus:opacity-100 outline-none focus:border-blue-600"
                                name="" placeholder="Form Title" id=""></div>
                        <div class="px-2"><textarea type="text"
                                class="border-2 rounded-md bg-transparent font-semibold placeholder:text-gray-400 placeholder:font-semibold border-gray-300 w-full px-3 py-1 mt-2 opacity-90 focus:opacity-100 outline-none focus:border-blue-600"
                                name="" placeholder="Description" id=""></textarea></div>
                    </div>
        
                    <ng-container *ngFor="let section of sections;let i=index">
                        <app-section [cols]="section?.cols" [divs]="section?.divs" [config]="section" [idx]="i" (unSelectConfigEvent)="unSelectConfig($event)"  (selectConfigEvent)="selectConfig($event)"></app-section>
                    </ng-container>
        
                </div>
            </div>
            <div class=" w-1/5 mr-5 min-w-80 relative h-full">
                <div class="overflow-y-auto bg-white  min-h-full">
                    <div class=" text-sm font-medium pb-4  w-full  -z-10">
                        <div >
                            <mat-tab-group >
                                <mat-tab label="Insert">
                                    <div  style="height: calc(100vh - 185px);" class="overflow-y-auto  py-2">
                                        <div class="px-5 pt-3">Content Blocks</div>
                                        <div class="grid grid-cols-2 gap-3 py-3   mb-4 px-5">
                                            <div (click)="addLayout(design)" *ngFor="let design of designs"
                                                class="h-24   ring-2 ring-gray-200  shadow-sm border-gray-100 flex items-center gap-1 px-2 py-2 bg-zinc-50 hover:bg-zinc-100 cursor-pointer">
                                                <div *ngFor="let item of design?.divs" class=" bg-slate-300 h-4" [ngClass]="{
                                                'w-full':design?.divs?.length==1,
                                                'w-1/2':design?.divs?.length==2,
                                                'w-1/3':design?.divs?.length==3,
                                                'w-1/4':design?.divs?.length==4,
                                            }"></div>
                                            </div>
                                        </div>
        
                                        <div class="text-xs mt-2 font-semibold text-gray-900 px-2 border-t-2 py-2 border-gray-100">
                                            <div
                                                class="px-2 py-2.5 hover:bg-neutral-100 cursor-pointer rounded-sm flex items-center gap-2">
                                                <div class="w-4 h-4 "><img src="assets/icons/radio.png" class="w-full h-full opacity-60"
                                                        alt="" srcset=""></div>
                                                Radio
                                            </div>
                                            <div
                                                class="px-2 py-2.5 hover:bg-neutral-100 cursor-pointer rounded-sm flex items-center gap-2">
                                                <div class="w-4 h-4"><img src="assets/icons/text.png" class="w-full h-full opacity-60"
                                                        alt="" srcset=""></div>
                                                Text Box
                                            </div>
                                            <div
                                                class="px-2 py-2.5 hover:bg-neutral-100 cursor-pointer rounded-sm flex items-center gap-2">
                                                <div class="w-4 h-4"><img src="assets/icons/drop.png" class="w-full h-full opacity-60"
                                                        alt="" srcset=""></div>
                                                Dropdown
                                            </div>
                                            <div
                                                class="px-2 py-2.5 hover:bg-neutral-100 cursor-pointer rounded-sm flex items-center gap-2">
                                                <div class="w-4 h-4"><img src="assets/icons/check.png" class="w-full h-full opacity-60"
                                                        alt="" srcset=""></div>
                                                Checkbox
                                            </div>
                                            <div
                                                class="px-2 py-2.5 hover:bg-neutral-100 cursor-pointer rounded-sm flex items-center gap-2">
                                                <div class="w-4 h-4">
                                                    <img src="assets/icons/calendar.png" class="w-full h-full"  alt="" srcset="">
                                                    <!-- <mat-icon class="text-base leading-4">date_range</mat-icon> -->
                                                </div>
                                                Date
                                            </div>
                                            <div
                                                class="px-2 py-2 hover:bg-neutral-100 cursor-pointer rounded-sm flex items-center gap-2">
                                                <div class="w-4 h-4"><img src="assets/icons/textarea.png" class="w-full h-full opacity-60"
                                                        alt="" srcset=""></div>
                                                Textarea
                                            </div>
                                        </div>
        
                                    </div>
                                </mat-tab>
                                <mat-tab label="Design"></mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>