<div class="relative w-full h-full">
  <div  *ngIf="editable && config?.selected" class="z-10 border rounded-3xl px-5 py-1 bg-white w-max shadow-md absolute -top-10 right-2 flex items-center gap-3"  >
    <div (click)="deleteItem()"  class="font-semibold text-gray-500 text-xs flex items-center " matTooltip="Delete Section">
      <mat-icon class="leading-6 text-lg">delete_outline</mat-icon>
    </div>
    <div [matMenuTriggerFor]="configMenu" class="font-semibold text-gray-500 text-xs flex items-center " matTooltip="Delete Section">
      <mat-icon class="leading-6 text-lg">edit</mat-icon>
    </div>
  </div>  
    <div  class="w-full border-2 " [style.height.px]="config?.height"  [ngClass]="{ 'border-blue-500':config?.selected ,'border-dashed border-2 border-gray-400 ':!config?.selected ,'border-none':!editable,'hover:border-blue-500':editable}">
        <mat-menu #configMenu="matMenu" style="width: 640px!important;height: max-content!important;">
            <div (click)="$event.stopPropagation();"
              class=" min-h-14 max-h-24 w-scr overflow-y-auto flex items-center flex-wrap gap-3  bg-white z-10 rounded-md p-5 text-xs">
              <div>Height of Spacer</div>
              <input type="number" (input)="changeHtValue($event)" [ngModel]="config?.height" min="16"
            class="border-2  outline-none rounded-md w-48 min-h-6 px-2 py-1" placeholder="Change the height of Spacer in px">
            </div>
          </mat-menu>
    </div>
</div>

