<div [matMenuTriggerFor]="editable ? configMenu : ''" class="w-full flex flex-col relative flex-1">
      <mat-menu #configMenu="matMenu"  >
        <button (click)="deleteItem()" mat-menu-item class="flex items-center gap-1">
          <mat-icon   class="text-slate-500 text-base mr-0" >delete</mat-icon>
        Delete
        </button>
      </mat-menu>
    <cite [contentEditable]="editable" (input)="editLabelText($event,label )" [innerText]="config?.label"
    (focusout)="changeLabelText(label?.innerText)" #label
    class="w-full flex-1 p-2 border-2 border-white focus:border-2 min-h-10 h-max    outline-none font-semibold text-sm"
    placeholder="Click here to edit label" [spellcheck]="false"></cite>
</div>
