.mat-menu-item .mat-icon{
    margin-right: 2px!important;
  }
  
  .mat-menu-item{
    height:40px!important;
    line-height: 40px;
  }
  
  .mat-menu-panel {
    min-height: max-content!important;
  
  }
  
  .mat-menu-content{
    padding: 2px 2px!important;
  }
  