<div class="w-full flex flex-col relative flex-1">
    <div *ngIf="editable" class="absolute -top-4 -right-2 flex justify-end gap-2" >
        <mat-icon (click)="deleteItem()" class="text-slate-500 text-sm" >delete</mat-icon>
      </div>
    <cite [contentEditable]="editable" (input)="editLabelText($event,label )" [innerText]="config?.label"
    (focusout)="changeLabelText(label?.innerText)" #label
    class="w-full flex-1 p-2 border-2 border-white focus:border-2 min-h-10 h-max focus:border-blue-500   outline-none font-semibold text-sm"
    placeholder="Click here to edit label" [spellcheck]="false"></cite>
</div>
