@import url('../node_modules/@angular/material/prebuilt-themes/indigo-pink.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200..800;1,200..800&display=swap');

.f-roboto{
  font-family: "Inter",sans-serif !important;
  word-spacing: 0.1rem !important;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: antialiased!important;

}

.mat-tab-label:focus:not(.mat-tab-disabled){
  opacity: 1!important;
}

.mat-menu-item .mat-icon{
  margin-right: 2px!important;
}

.mat-menu-item{
  height:40px!important;
  line-height: 40px;
}

.mat-menu-panel {
  min-height: max-content!important;

}

.mat-menu-content{
  padding: 2px 2px!important;
}

.mat-tab-label:focus{
  opacity: 1!important;
}

.mat-tab-label{
  opacity: 1!important;
}


/* FIREFOX */

  
  /* CHROME */
  
  ::-webkit-scrollbar {
    // Width of vertical scroll bar
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ebeef1;
    
  }
  


:root{
    --primary-color:#052f6d;
    --sec-color:#b1cce0;
}

cite {
  font-style: normal !important;
}

.bg-l-pink {
  background-color: rgb(255, 251, 254) !important;
}

.ck-editor__editable_inline {
  padding: 0 30px !important;
}


@font-face {
    font-family: Plus Jakarta Sans;
    src:url("/assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype"),
    url("/assets/font/PlusJakartaSans-Medium.ttf") format("truetype"),
    url("/assets/font/PlusJakartaSans-Semibold.ttf") format("truetype"),
    url("/assets/font/PlusJakartaSans-Bold.ttf") format("truetype");
    
  }


*:not(mat-icon) {
    font-family: "Plus Jakarta Sans",sans-serif !important;
    word-spacing: 0.1rem !important;
    -webkit-font-smoothing: antialiased !important;
    font-smooth: antialiased!important;

}

input[type="text"] {
    font-family: "Plus Jakarta Sans",sans-serif !important;
    word-spacing: 0.1rem !important;
    -webkit-font-smoothing: antialiased !important;
    font-smooth: antialiased!important;

}


.bg-primary-color{
    background-color: var(--primary-color);
}

.c-primary{
    color:var(--primary-color)
}


th, td, table{
    transition-property: width;
    transition: 0.008s ease!important;
    transition-delay: 0.006s!important;
}

.mat-tab-label-active{
    color:rgb(3, 27, 124)!important;
    font-weight: 700!important;
}

::ng-deep mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:rgb(66, 134, 244); 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(66, 134, 244);
  background-color:rgb(66, 134, 244) ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(37, 131, 255, 0.26);
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color:rgb(174, 174, 174)!important;
  font-weight: normal!important;
  }